body{
    background: url(bgd.jpg) no-repeat center center fixed;
    background-size: cover;
}
*{
    margin: 0;
    padding: 0;
}
.container{
    position: absolute;
        top: 10%;
    left: 35%;
    color:white ;    
   


}
.container h1{
    display: inline-block;

    font-size: 40px;
    border-bottom:5px solid purple ;
    margin-bottom: 45px;
    padding:  12px 0;
}
.box{
   
    width: 100%;
    margin:15px 0px;
    border-bottom: 2px solid purple;
}

.box input{
    background: none;
    color: white
    ;
    font-size: 20px;
    margin: 2px 0px;
    width: 75%;
    outline:none;
    border:none;
    color:;
    padding: 5px 10px;

}
.box i{

    width: 25px;
    text-align: center;
}
.btn{
    cursor: pointer;
    outline: none;
   
    font-size: 18px;
    background: none;
    color: white;
    margin 15px 0;
    margin-top: 25px;
    border: 2px solid purple;
    padding: 10px 21px;
    font-weight: bold;
    border-radius: 10px;
}
.btn:hover{
    color: purple;
    background: white;
}